extends layout/default

block header
  include layout/default/includes/header

block content
  include layout/default/includes/home/content

block bottom
  p esto es un bottom personalizado para index
