extends layout/default

block header
  include layout/default/page_home/header

block content
  include layout/default/page_home/content_register

block bottom
  p esto es un bottom personalizado para login